@import "./src/styles/bootstrap";

.artist-spotlight {
  position: relative;
  .artist-spotlight-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .artist-spotlight-content {
    background: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}